@tailwind base;
@tailwind components;
@tailwind utilities;
.images{
    
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: auto;
    background: linear-gradient();
}
.images1{
    background-image: url(./assets/man.jpg);
    
}
.images2{
    background-image: url(./assets/pahad.jpg);
}